.about-container {
  padding-top: 80px;
  display: flex;

  .greeting-container {
    width: 50%;
    height: 40vh;
    font-size: 4rem;
    font-weight: 500;
  }

  .description-container {
    width: 50%;
    font-size: 1.1rem;
    font-weight: 300;
  }
}
