.navbar-container {
  .MuiAppBar-root {
    background-color: transparent !important;
    backdrop-filter: blur(2px);
    box-shadow: none;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .MuiTypography-root {
    font-size: 32px;
  }

  .MuiTypography-root:hover {
    cursor: default;
  }

  .MuiButtonBase-root:hover {
    color: dodgerblue;
  }

  .MuiButton-outlined {
    background-color: dodgerblue !important;
    border: none !important;
    border-radius: 16px !important;
  }

  .MuiButton-outlined:hover {
    background-color: white !important;
  }

  .MuiBox-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}
