.navbar-container {
  .MuiAppBar-root {
    background-color: rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: none;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-image: none !important;
  }

  .MuiToolbar-root {
    display: flex;
    justify-content: space-between;
    width: var(--section-width);
    margin: 0 auto;
  }

  @media (max-width: 1400px) {
    .MuiToolbar-root {
      width: 100%;
    }
  }

  .MuiTypography-root {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.05em;
  }

  .MuiTypography-root:hover {
    cursor: default;
  }

  .MuiButtonBase-root:hover {
    color: dodgerblue;
  }

  .MuiButton-outlined {
    background-color: dodgerblue !important;
    border: none !important;
    border-radius: 16px !important;
  }

  .MuiButton-outlined:hover {
    background-color: white !important;
  }

  .MuiBox-root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
  }
}
